{
  "singleQuote": true,
  "trailingComma": "all",
  "printWidth": 110,
  "semi": true,
  "arrowParens": "always",
  "plugins": ["prettier-plugin-tailwindcss"],
  "tailwindConfig": "./tailwind.config.js",
  "tailwindFunctions": ["cn"],
  "tailwindAttributes": ["className", "contentContainerClassName", "imageClassName"]
}
